@import "css-reset";

$primaryColor: #fff;
$secondaryColor: #559AC8;

$sm: 576px;
$md: 768px;

@for $i from 1 through 12{
    .col-#{$i}{
        margin-left: 15px;
        margin-right: 15px;
        width: calc(8.33333%*#{$i}   - 30px)
    }
} 

@media screen and (max-width: $md){
    @for $i from 1 through 12{
        .col-md-#{$i}{
            margin-left: 15px;
            margin-right: 15px;
            width: calc(8.33333%*#{$i} - 30px)
        }
    }
}

@media screen and (max-width: $sm){
    @for $i from 1 through 12{
        .col-sm-#{$i}{
            margin-left: 15px;
            margin-right: 15px;
            width: calc(8.33333%*#{$i} - 30px)
        }
    }
}



h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
}
h5{
    font-size: 1.125rem;
}
p{
    font-size: 1rem; 
}
span{
    font-size: 0.875rem;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4%;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.bg-purple{
    background-color: #8A82CC;
}
.bg-pink{
    background-color:#FFA782;
}
.bg-yellow{
    background-color: #F5D005;
}
.bg-secondary{
    background-color: $secondaryColor;
}

header{
    background-image: url(../images/Hero.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 380px;  
    position: relative;
    h1{
        text-align: center;
        color: $primaryColor;
        padding-top: 89px;
        margin-bottom: 96px;
    }
    .select-location{
        display: block;
        margin: 0 auto;
        height: 48px;
        background-color: rgba(225, 225, 225, 0.7);
        border: 3px solid #FFFFFF;
        border-radius: 3px;
        font-size: 21px;

    }
}

nav{
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 20px 0 18px 0;
    margin-bottom: 37px;
    @media (max-width: $sm){
        bottom: -50%;
    }
    h5{    
        margin-bottom: 14px;
        margin-top: 20px;
    }
    ul{
        margin-bottom:18px;
        li{
            line-height: 42px;
            font-size: 1.25rem;
            text-align: center;
            border-radius: 5px;
            color: $primaryColor;
            &:hover{
                cursor: pointer;
                background-color: orange;
            }
        }
    }
    
}

.info{
    margin-top: 133px;
    border-top: 1px dashed $secondaryColor;
    .down-icon{
        display: block;
        margin: 0 auto;
    }
    h2{
        color: #8A82CC;
        text-align: center;
        margin-top: 65px;
        margin-bottom: 24px;
    }
    .info__content{
        align-items: stretch;
        .card{
            background: #FFFFFF;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
            margin-bottom: 36px;
            &:hover{
                transform: scale(1.1)
            }
    
            .card__img{
                padding-top: 33%;
                background-position: center center;
                margin-bottom: 16px;
                h3{
                    color: $primaryColor;
                    padding: 0 22px 14px 22px;
                    span{
                        text-align: end;
                        float: right;
                        line-height: 24px;
                    }
                }
                
            }
            p{
                padding: 0 23px 16px 23px;
                line-height: 1.5rem;
                img{
                    display: inline-block;
                    margin-right: 9px;
                }
                a{
                    text-decoration: none;
                    color: #000;
                }
                span{
                    float:right;
                }
            }
        }

    }    
}

footer{
    background-color: $secondaryColor;
    padding-top: 24px;
    padding-bottom: 23px;
    h5{
        &:first-child{
        text-align: center;
        color: $primaryColor;
        margin-bottom: 15px;
        }
        &:last-child{
            text-align: center;
            color: #FFD366;
            font-size: 14px;
            margin-bottom: 0;
        }

    }

}

/*固定 footer*/
.all-but-footer{
    min-height: calc(100vh - 94px)
}

.go-top{
line-height: 60px; 
position: fixed;
bottom: 120px;
right: 50px;
display: none;
    &:hover{
    cursor: pointer;
    }   
}
.go-top.active{
    display: block;
}

